

  <div class="agenda_container" >
    <div class="agenda_wrapper">
      <div class="block">
        <div class="block-left">
          <mat-calendar #calendar >
          </mat-calendar>  
          </div>
        <div class="block-right">
             <h1>{{ currentDate | date:'EEEE d' | uppercase }} </h1>

             <mat-list>
              <mat-list-item >
                <p class="time" >09.00</p>
                <p >Business meeting</p>
                <mat-divider></mat-divider>
              </mat-list-item>
              <mat-list-item >
                <p class="time" >14.30</p>
                <p>Shopping with Ann meeting</p>
                <mat-divider></mat-divider>
              </mat-list-item>
              <mat-list-item >
                <p class="time" >19.00</p>
                <p >Appoinment with ¨Jack</p>
              </mat-list-item>
          </mat-list>
        </div>
      
      </div>
      </div>
  </div>